<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs Playlist Tutorial</title>
    <link href="style.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

</head>
<body>
    <div id="vue-app">

        <h1>Request</h1>
        <button v-on:click="sendRequestHello">Send request for hello</button>
        <div>
            <label>Account:</label>
            <input type="text" v-model="account"/>
            <label>AccountId:</label>
            <input type="text" v-model="accountId"/>
            <label>reportStart:</label>
            <input type="text" v-model="reportStart"/>
            <label>reportEnd:</label>
            <input type="text" v-model="reportEnd"/>
            <button v-on:click="sendRequest(account, accountId, reportStart, reportEnd)">Send request</button>
        </div>
    </div>
    
    <script src="app.js"></script>
</body>
</html>